@import "compass_twitter_bootstrap_awesome";
@import "messages";

.view-wrap {
overflow:hidden;
 }

.issue-wrap {
position: relative;
 }

.issue-wrap.active {
  transition: .1s;
  -moz-transition: .1s;
  /* Firefox 4 */
  -webkit-transition: .1s;
  /* Safari and Chrome */
  -o-transition: .1s;
  /* Opera */
  left: 0; }

.issue-wrap:not(.active) {
  transition: .1s;
  -moz-transition: .1s;
  /* Firefox 4 */
  -webkit-transition: .1s;
  /* Safari and Chrome */
  -o-transition: .1s;
  /* Opera */
  left: 100%; }
