<div class="issue span12">
    <div class="widget span2">
      <span class="username">{{issue.user.name}}:</span>
      <br/>
      <span class="timestamp" style="clear:both;"><i class="icon-time"></i>&nbsp;{{issue.date}} week ago</span>
      <br />
      <span class="timestamp" style="clear:both;"><i class="icon-heart"></i>&nbsp;{{issue.user.followers}} followers</span>
      <br />
      <span class="timestamp" style="clear:both;"><i class="icon-eye-open"></i>&nbsp;{{issue.user.subscribers}} subscribers</span>
    </div>
	<div class="vote span2">
	<div class="score"  ng-class="{up:'voted voted-up', down:'voted voted-down'}[issue.voted]">
	  <span class="number">{{issue.vote}}</span>
	  <i class="vote-up icon-chevron-up" ng-click="rateUpIssue(post)"></i>
	  <i class="vote-down icon-chevron-down" ng-click="rateDownIssue(post)"></i>
	</div>
	</div>
    <div class="message span7">
	  <h3>
		<span class="label label-important" >OPEN</span>
		{{issue.title}}</h3>
	  {{issue.text}}
	</div>
</div>
<div class="answers span12">
<h2> Proposed Solutions: </h2>
<div class="vote row" ng-repeat="post in posts | orderBy:'vote':reverse=true">
<div class="span2 score" ng-class="{up:'voted voted-up', down:'voted voted-down'}[post.voted]">
  <span class="number">{{post.vote}}</span>
  <i class="vote-up icon-chevron-up" ng-click="rateUp(post)" ng-show="post.id == voted || voted == -1"></i>
  <i class="vote-down icon-chevron-down" ng-click="rateDown(post)" ng-show="post.id == voted  || voted == -1"></i>
</div>
<div class="post span10" >
  <div class="sidebar">
    <div class="avatar">
      <img class="author" src="{{post.user.avatar}}">
    </div>
    <div id="socialize"> 
      <a id="left" class="social" href="#"><i class="icon-eye-open"></i></a>
      <a id="right" class="social" href="#"><i class="icon-heart"></i></a>
      <a id="centre" class="social" href="#"><i class="icon-time"></i></a>
    </div>   
  </div>
  <div class="mybox-middle" >
    <div class="span">
      <widget class="username">{{post.user.name}}:</span>
      <br/>
      <span class="timestamp" style="clear:both;"><i class="icon-time"></i>&nbsp;{{post.date}}</span>
      <br />
      <span class="timestamp" style="clear:both;"><i class="icon-heart"></i>&nbsp;{{post.user.followers}} followers</span>
      <br />
      <span class="timestamp" style="clear:both;"><i class="icon-eye-open"></i>&nbsp;{{post.user.subscribers}} subscribers</span>
    </div>
    <div class="message">
	  <h4>{{post.title}}</h4>
	  {{post.text}}
	</div>
  </div>
</div>
</div>

<div class="entry">
  <div class="sidebar">
    <div class="avatar">
      <img class="author" src="{{nextUser.avatar}}">
    </div>
  </div>
  <div class="mybox">
	<input type="text" ng-model="newTitle"/>
    <div class="textarea-wrapper">
      <textarea ng-model="newText"></textarea>
      <div class="actions"><div style="float:right"><button class="send btn btn-mini" ng-click="addSolution()">Send</button></div></div>
    </div>
  </div>
</div>
</div>
